html, body{
padding: 0px;
margin: 0px;
width:100%; 
height:100%;
font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

canvas{
    background-color: rgb(255, 255, 255);
    display:block;
    border: 3px solid;
    border-left: 3px solid;
    border-right: 3px solid;
    border-color: rgb(148, 148, 148);
}

/*Herramienta*/
div.grid-container{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    text-align: center;
    padding-top: 5px;
    padding-bottom: 5px;
}
.fig-2{
    margin-top: 5px;
}

.actual{
   padding: 4px;
}

div#panel_actual{
    background-color: rgb(250, 250, 250);
    border: solid rgb(118, 118, 118);
    border-width: 2px;
    margin-right: 4px;
}

div#botones{
    background-color: rgb(235, 235, 235);
}

.figura{
    background: rgb(233, 233, 233);
    border-radius: 5px;
    border-width: 1px;
    border-color: teal;
}

img.icono-f{
    width: 30px;
    height: 30px;
}

/*Botones*/
div#colores2{
    grid-column-start: 1;
    grid-column-end: 2;

}
button.btn-color{
    width: 2em;
    height: 2em;
    border-radius: 800px;
    border: solid;
    border-color: rgb(87, 87, 87);
    border-width: 2px;
}
button#rojo{
    background-color: red;
}
button#rojo_c{
    background-color: rgb(200, 0, 0);
}
button#amarillo{
    background-color: yellow;
}
button#amarillo_c{
    background-color: rgb(221, 221, 14);
}
button#verde{
    background-color: rgb(9, 216, 9);
}
button#verde_c{
    background-color: green;
}
button#azul{
    background-color: blue;
} 
button#azul_c{
    background-color: rgb(0, 170, 232);
} 
button#rosa{
    background-color: pink;
} 
button#rosa_c{
    background-color: rgb(255, 96, 123);
} 
button#morado{
    background-color: purple;
}
button#morado_c{
    background-color: rgb(209, 1, 209);
}
button#marron{
    background-color: rgb(186, 79, 79);
}
button#marron_c{
    background-color: rgb(97, 17, 17);
}
button#blanco{
    background-color: white;
}
button#negro{
    background-color: black;
}
button#color_a{
    background-color: black;
}

input#pol_l{
    width: 3em;
}
label#pol_s{
display: none;
}

label#relleno{
    padding-right: 9px;
    margin-right: 20px;
}